<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BaseConnectionString" connectionString="Data Source=.;Initial Catalog=dapperbase;User ID=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />
    <add name="MasterConnectionString" connectionString="Data Source=.;Initial Catalog=dapperbase;User ID=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>